.header-section {
	background: #222;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid;
}

.site-logo {
	display: inline-block;
	padding-top: 6px;
}

.site-logo span{
    font-size: 20px;
}

.site-logo img {
    max-width: 80px;             
    height: 60px;                
    border-radius: 50%;          
    object-fit: cover;           
    display: inline-block;       
    vertical-align: middle;      
    margin-right: 15px;          
}

span{
	color: #fff;
}

.user-panel {
	float: right;
	font-weight: 500;
	background: #8B0000;
	padding: 10px 18px;
	border-radius: 30px;
	margin-top: 15px;
}

.user-panel a {
	font-size: 14px;
	color: #fff;
}

.main-menu {
	float: right;
	margin-right: 170px;
	margin-top: 10px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #8B0000;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

.user-image {
	width: 40px;
	height: 40px; 
	border-radius: 50%; 
	object-fit: cover; 
	margin-right: 10px; 
	border: 2px solid #ddd; 
  }

  .user-panel button {
	background-color: #ff4d4d; 
	color: white; 
	border: none; 
	border-radius: 5px; 
	padding: 8px 12px; 
	font-size: 14px; 
	font-weight: bold; 
	cursor: pointer; 
	margin-left: 10px; 
	transition: background-color 0.3s ease; 
  }