<header class="header-section">
  <div class="container">
    <!-- Logo -->
    <a class="site-logo" href="#">
      <img src="logo.png" />
      <span>Chfama Jedid</span>
    </a>

    <!-- User Panel -->
    <div class="user-panel">
      <!-- If user is logged in -->
      <div *ngIf="isLoggedIn; else loggedOut">
        <img [src]="userImage" alt="User Image" class="user-image" />
        <span>{{ userName }}</span>
        <button (click)="logout()">Logout</button>
      </div>
      <!-- If user is not logged in -->
      <ng-template #loggedOut>
        <a routerLink="/login">Login</a> <span>/</span> <a routerLink="/signup">Register</a>
      </ng-template>
    </div>

    <!-- Navigation Menu -->
    <nav class="main-menu">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/games">Games</a></li>
        <li><a routerLink="/animes">Animes</a></li>
      </ul>
    </nav>
  </div>
</header>
