body, html {
    height: 100%;
    margin: 0;
    overflow: hidden !important;
  }
  
  .login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #8B0000, #B22222, #1C1C1C, #2C003E);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    max-width: 500px;
    width: 100%;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

.input-group label {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    color: #e0e0e0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bebebe;
    color: #3d0000;
    font-size: 17px;
    outline: none;
}

.input-group input::placeholder {
    color: #4e0202;
}

.submit-button {
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-button:hover {
    background-color: #B22222;
}

.signup-link {
    color: #ff4e50;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}