<app-nav-bar></app-nav-bar>
<section class="hero-section">
    <div class="hero-content set-bg" style="background-image: url('slider1.jpg');">
        <div class="hs-text">
            <div class="container">
                <h2>The Best <span>Games</span> And<br> <span>Animes </span> Out There</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus finibus.</p>
            </div>
        </div>
    </div>
</section>

<div class="latest-news-section">
    <div class="ln-title">Latest News</div>
    <div class="news-ticker">
        <marquee behavior="scroll" direction="left" scrollamount="15" class="news-ticker-content">
            <div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
            <div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
        </marquee>
    </div>
</div>

<!-- Recent game section  -->
<section class="recent-game-section spad set-bg" style="background-image: url('recent-game-bg.png');">
  <div class="container">
      <div class="section-title">
          <div class="cata new">new</div>
          <h2>Recent Games</h2>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg"  style="background-image: url('1.jpg');">
                      <div class="cata new">new</div>
                  </div>
                  <div class="rgi-content">
                      <h5>OverWatch</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg"  style="background-image: url('4.jpg');">
                      <div class="cata racing">racing</div>
                  </div>
                  <div class="rgi-content">
                      <h5>Need For Speed</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg" style="background-image: url('3.jpg');">
                      <div class="cata adventure">Adventure</div>
                  </div>
                  <div class="rgi-content">
                      <h5>CyberPunk</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
      </div>
  </div>
</section>
<br><br><br><br>
<!-- Recent game section end -->

<section class="recent-game-section spad set-bg" style="background-image: url('anime-bggg.jpg');">
  <div class="container">
      <div class="section-title">
          <div class="cata new">new</div>
          <h2>Recent Animes</h2>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg"  style="background-image: url('onepiece.jpg');">
                      <div class="cata new">new</div>
                  </div>
                  <div class="rgi-content">
                      <h5>One Piece</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg"  style="background-image: url('black-clover.jpg');">
                      <div class="cata racing">Adventure</div>
                  </div>
                  <div class="rgi-content">
                      <h5>Black Clover</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="recent-game-item">
                  <div class="rgi-thumb set-bg" style="background-image: url('naruto.jpg');">
                      <div class="cata adventure">Ninja</div>
                  </div>
                  <div class="rgi-content">
                      <h5>Naruto</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                  </div>
              </div>	
          </div>
      </div>
  </div>
</section>
  
<br><br><br>
<app-footer></app-footer>
